@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: rgba(255,148,25,0.3);

}

* {
  font-family: "Poppins";
}

button {
  background-color: #ff9419;
  border : 0px solid white;
}

/* button:hover {
  opacity: 80%;
} */
